<div class="card">
    <div class="card-body">
        <div class="form-group">
            <label for="trip-name">Trip Name</label>
            <input type="title" class="form-control" id="trip-name" placeholder="Bachelor's Party Trip">
        </div>
        <label for="current-country">Current Country</label>
        <select class="form-control"  id="current-country">
            <option>USA</option>
            <option>Mexico</option>
            <option>Canada</option>
        </select>
        <label for="current-country">Destination</label>
        <select class="form-control">
            <option>USA</option>
            <option>Mexico</option>
            <option>Canada</option>
        </select>
    </div>
</div>