    <div *ngIf="trips.length > 0;else noTrips" class="p-2">
        <ul *ngFor="let trip of trips">
            <div class="card">
                <h2>{{trip.tripName}}</h2>
                <p>Destination: {{trip.destination}}</p>
                <p>Start Location: {{trip.startLocation}}</p>
                <p>Trip Dates: {{trip.startDate}} - {{trip.endDate}}</p>
                <div class="secondary-content">
                    <i (click)="editTrip($event, trip)"class="fa fa-pencil"></i>
                    <i *ngIf="editState && tripToEdit.id == trip.id" (click)="clearState()"class="fa fa-compress"></i>
                </div>
                <div *ngIf="editState && tripToEdit.id == trip.id">
                    <form (ngSubmit)="updateTrip(trip)">
                        <div class="form-group">
                            <input type="text" class="form-control" id="trip-name" required placeholder="Bachelor's Party Trip" [(ngModel)]="trip.tripName" name="tripName">
                        </div>
                        <select class="form-control" id="current-country" [(ngModel)]="trip.startLocation" name="startLocation"> 
                            <option *ngFor="let country_item of countries" value="{{country_item}}">
                                {{country_item}}
                            </option>
                        </select>
                        <select class="form-control" id="current-destination" [(ngModel)]="trip.destination" name="destination">
                            <option *ngFor="let country_item of countries" value="{{country_item}}">
                                {{country_item}}
                            </option>
                        </select>
                        
                        <input type="submit" value="Update Item" class="btn btn-info">
                        <button class="btn btn-danger" (click)="deleteTrip($event, trip)">Delete Trip</button>
                    </form>
                </div>
            </div>
        </ul>
    </div>

<ng-template #noTrips>
    <p>There are no trips.</p>
</ng-template>