<div class="card">
    <div *ngIf="trips.length > 0;else noTrips">
        <ul *ngFor="let trip of trips">
            <div class="card" (dblclick)="deleteTrip($event, trip)">
                <h2>{{trip.tripName}}</h2>
                <p>Destination: {{trip.destination}}</p>
                <p>Start Location: {{trip.startLocation}}</p>
                <p>Trip Dates: {{trip.startDate}} - {{trip.endDate}}</p>
            </div>
        </ul>
    </div>
</div>

<ng-template #noTrips>
    <p>There are no trips.</p>
</ng-template>