<header class="py-0">
  <div class="container">
    <app-navbar></app-navbar>
  </div>
</header>

<div class="container about">
  <h1>About Invicta</h1>

  <p>The main goal of our project is to allow travelers to have consistent updates regarding their itineraries because
    as of right now it’s very tedious to sift through foreign websites to try and find relevant & updated information
    regarding COVID protocols.</p>
  <hr> <br> <br> <br><br>
</div>

<div class="container team">
  <h1>Our Team</h1>
  <hr>
</div>
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-responsive" src="../../assets/leesaPlaceholder.jpg" alt="Leesa Picture">
      <div class="overlay">
        <h2>Leesa Marie-Price</h2>
        <p>Team Lead</p>
        <p>Security Lead</p>
        <p>Software Design & Development Major</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-responsive" src="../../assets/matthewPlaceholder.jpg" alt="Matthew Picture">
      <div class="overlay">
        <h2>Matthew Price</h2>
        <p>SE Lead</p>
        <p>Coding Lead</p>
        <p>Software Design & Development Major</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
      <img class="img-responsive" src="../../assets/graysonPlaceholder.jpg" alt="Grayson Picture">
      <div class="overlay">
        <h2>Grayson Martin</h2>
        <p>Testing Lead</p>
        <p>Computer Science Major</p>
      </div>
    </div>
  </div>
</div>