<div class="card">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="trip-name">Trip Name</label>
                <input type="text" class="form-control" id="trip-name" required placeholder="Bachelor's Party Trip" [(ngModel)]="trip.tripName" name="tripName">
            </div>
            <label for="current-country">Current Country</label>
            <select class="form-control" id="current-country" [(ngModel)]="trip.startLocation" name="startLocation"> 
                <option *ngFor="let country_item of countries" value="{{country_item}}">
                    {{country_item}}
                </option>
            </select>
            <label for="current-country">Destination</label>
            <select class="form-control" id="current-destination" [(ngModel)]="trip.destination" name="destination">
                <option *ngFor="let country_item of countries" value="{{country_item}}">
                    {{country_item}}
                </option>
            </select>
            <input type="submit" value="Submit" class="btn btn-dark">
        </form>
    </div>
</div>
